{% extends '../../base.html' %} {% block conteudo %} {% load static %}
<link rel="stylesheet" href="{% static 'css/update.css' %}" />
<h1 class="title">Update Product {{product.id_product}}</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {%csrf_token%}

  <div class="container">
    <h1>Product Update</h1>
    <div>
      <div class="input-box">
        <label for="name">Name</label>
        <input type="text" value="{{product.name}}" name="name" id="name" />
      </div>
      <div class="input-box">
        <label for="description">Description</label>
        <input
          type="text"
          value="{{product.description}}"
          name="description"
          id="description"
        />
      </div>
      <div class="input-box">
        <label for="price">Price</label>
        <input type="text" value="{{product.price}}" name="price" id="price" />
      </div>
      <div class="input-box">
        <label for="category">Category</label>
        <select name="category" id="category">
          {% for option in form.category.field.choices %}
          <option value="{{ option.0 }}">{{ option.1 }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-box">
        <label for="manufacturer">Manufacturer</label>
        <select name="manufacturer" id="manufacturer">
          {% for option in form.manufacturer.field.choices %}
          <option value="{{ option.0 }}">{{ option.1 }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-box">
        <label for="quantity">Quantity in stock</label>
        <input
          type="text"
          value="{{product.quantity}}"
          name="quantity"
          id="quantity"
        />
      </div>
      <div>Currently Image : {{product.image.url}}</div>
      <div class="input-box">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" />
      </div>
      <div class="flex">
        <button class="form-control-sm" style="margin-top: 10px" type="submit">
          Send
        </button>
      </div>
    </div>
  </div>
  {% endblock %}
</form>
